@model FocusAppTest2.ViewModels.MemberVM
@{
    ViewBag.Title = "Login";
}

@if (Request.IsAuthenticated)
{
    Response.Redirect("~/Main/Profile");
}


@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { data_ajax = "false" }))
{
    @Html.ValidationSummary()
    <div>
        @Html.LabelFor(x => x.Email)
        @Html.EditorFor(x => x.Email)
    </div>
    <div>
        @Html.LabelFor(x => x.Password)
        @Html.EditorFor(x => x.Password)
    </div>
    <div>
        <input type="submit" value="Login or Register" class="ui-btn" data-transition="slide" />
    </div>
}
<input type="button" onclick="fb_login();" class="ui-btn" value="Login with facebook"/>
<footer data-role="footer"></footer>