@model IEnumerable<FocusAppTest2.ViewModels.CourseVM>
@*@{
        ViewBag.Title = "Courses";
    }*@
<div id="container" class="col-xs-12">
    <form class="ui-filterable">
        <input id="filterBasic-input" data-type="search" />
    </form>
    <div data-role="collapsible-set" data-filter="true" id="collapsiblesetForFilter"
         data-input="#filterBasic-input">
        @foreach (var item in Model)
        {
            <div data-role="collapsible" class="collapsible-courses" id="collapsible-@item.Id" data-id="@item.Id"
                 data-collapsed-icon="plus" data-expanded-icon="minus" data-dom-cache="false">
                <h1>@item.Name - @item.Start.ToLongDateString()</h1>
                <p>
                    <strong>Tid: </strong> @item.Start.ToShortTimeString()
                    @* Displays end-time if it differs from start-time, and end-date in parenthesis if it differs from start-date *@
                    @if (item.Start.CompareTo(item.End) < 0)
                    {
                        @:- @item.End.ToShortTimeString()
                        if (item.Start.Date.CompareTo(item.End.Date) < 0)
                        {
                            @:(@item.End.ToLongDateString())
                        }
                    }
                    <br />
                    <strong>Adresse: </strong> @item.Address <br />
                    @if (item.Price == 0 || item.Price == null)
                    {
                        <strong>Gratis inngang!</strong>
                    }
                    else
                    {
                        @:<strong>Pris: </strong>@item.Price kr
                    }
                    <br />
                    <strong>Totalt antall plasser:</strong> @item.Capacity <br />
                    <em>@item.Info</em>
                </p>
                <button type="submit" class="post-bid" style="width:100px;">Join</button>
            </div>
        }
    </div>
</div>