@model IEnumerable<FocusAppTest2.ViewModels.CourseVM>
@{
    ViewBag.Title = "Courses";
}
<div id="container" class="col-xs-12">
    <form class="ui-filterable">
        <input id="filterBasic-input" data-type="search" />
    </form>
    <div data-role="collapsible-set" data-filter="true" id="collapsiblesetForFilter"
         data-input="#filterBasic-input">
        @foreach (var item in Model)
        {
            <div data-role="collapsible" class="collapsible-courses" id="collapsible-@item.Id" data-id="@item.Id"
                 data-collapsed-icon="plus" data-expanded-icon="minus" data-dom-cache="false">
                <h1>@item.Name - @item.Location - @item.Start.ToShortDateString()</h1>
                <p>
                    @item.Info<br />
                    Sted: @item.Location <br />
                    Tid: @item.Start.ToShortTimeString()
                    @if (item.End != null)
                    {
                        <text> - </text>@item.End.ToShortTimeString()<text> </text>@item.End.ToShortDateString()

                    }<br />
                    Pris: @item.Price
                </p>
                <button type="submit" class="post-bid" style="width:100px;">Join</button>
            </div>
        }
    </div>
</div>
@section scripts{
    <script>
        $(function () {
            
            $('.courseBar').addClass('ui-btn-active')
                        .addClass('ui-state-persist');
        }); 
    </script>
}