@model IEnumerable<FocusAppTest2.ViewModels.CourseVM>

@{
    ViewBag.Title = "Courses";
}

<section data-role="page">
    @RenderPage("../Shared/MainHeader.cshtml")
    <div class="ui-content">
        <div id="container" class="col-xs-11">
            @foreach (var item in Model)
            {
                <div data-role="collapsible">
                    <h1>@item.Name - @item.Location - @item.Start.ToShortDateString()</h1>
                    <p>
                        @item.Info<br />
                        Sted: @item.Location <br />
                        Tid: @item.Start.ToShortTimeString()
                        @if (item.End != null)
                        {
                            <text> - </text>@item.End.ToShortTimeString()<text> </text>@item.End.ToShortDateString()
                        }<br />
                        Pris: @item.Price
                    </p>
                    @using (Html.BeginForm()) {
                        <button style="width:100px;" id="@item.Id">Join</button>
                    }
                </div>
            }
        </div>
        <a href="@Url.Action("MyCourses", "Main")" class="ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-notext col-xs-2"></a>
    </div>
    <div data-role="footer" data-position="fixed">
        <div data-role="navbar">
            <ul>
                <li><a href="@Url.Action("Courses","Main")" class="ui-state-persist ui-btn-active">Course</a></li>
                <li><a href="@Url.Action("Profile","Main")">Profile</a></li>
                <li><a href="@Url.Action("Contact","Main")">Contact</a></li>
            </ul>
        </div>
    </div>
</section>

