@model IEnumerable<FocusAppTest2.ViewModels.CourseVM>
@*@{
        ViewBag.Title = "Courses";
    }*@

@{
    var season = "white";
}

<div id="container" class="ui-content col-xs-12">
    <form class="ui-filterable">
        <input id="filterBasic-input" data-type="search" placeholder="Lookup by price|address|name|date" />
    </form>
    <div data-role="collapsible-set" data-filter="true" id="collapsiblesetForFilter"
         data-input="#filterBasic-input">
        @foreach (var item in Model)
        {
            int month = item.Start.Month;
            switch(month){
                case 1: season = "jan"; break;
                case 2: season = "feb"; break;
                case 3: season = "mar"; break;
                case 4: season = "apr"; break;
                case 5: season = "mai"; break;
                case 6: season = "jun"; break;
                case 7: season = "jul"; break;
                case 8: season = "aug"; break;
                case 9: season = "sep"; break;
                case 10: season = "okt"; break;
                case 11: season = "nov"; break;
                case 12: season = "des"; break;
                default: break;                    
            }
            <div data-role="collapsible" class="collapsible-courses @season" id="collapsible-@item.Id" data-id="@item.Id" data-collapsed-icon="plus" data-expanded-icon="minus" data-dom-cache="false">
                <h1><div class="ui-btn-up-c ui-btn-corner-all custom-count-pos">@season</div>@item.Name</h1>
                <p>
                    <strong>Tid: </strong> @item.Start.ToShortTimeString() (@item.Start.ToLongDateString())
                    @* Displays end-time if it differs from start-time, and end-date in parenthesis if it differs from start-date *@
                    @if (item.Start.CompareTo(item.End) < 0)
                    {
                        @:- @item.End.ToShortTimeString()
                        if (item.Start.Date.CompareTo(item.End.Date) < 0)
                        {
                            @:(@item.End.ToLongDateString())
                        }
                    }
                    
                    <br />
                    <strong>Adresse: </strong> @item.Address <br />
                    @if (item.Price == 0 || item.Price == null)
                    {
                        <strong>Gratis inngang!</strong>
                    }
                    else
                    {
                        @:<strong>Pris: </strong>@item.Price kr
                    }
                    <br />
                    <strong>Totalt antall plasser:</strong> @item.Capacity <br />
                    <em>@item.Info</em>
                </p>
                <button type="submit" class="post-bid" style="width:100px;">Join</button>
            </div><!--End of collapsible item-->
        }
    </div><!--End of collapsible set-->
</div>