@model IEnumerable<FocusAppTest2.ViewModels.CourseVM>
@{
    ViewBag.Title = "My Courses";
}
<section data-role="page">
    @RenderPage("../Shared/MainHeader.cshtml")
    <div class="ui-content">
        <div id="container" class="col-xs-11">
            @foreach (var item in Model)
            {
                <div data-role="collapsible" class="collapsible-myCourses" data-theme="b" data-iconpos="right" data-collapsed-icon="check" data-expanded-icon="arrow-d" data-id="@item.Id">
                    <h1>@item.Name - @item.Location - @item.Start.ToShortDateString()</h1>
                    <p>
                        @item.Info<br />
                        Sted: @item.Location <br />
                        Tid: @item.Start.ToShortTimeString()
                        @if (item.End != item.Start)
                        {
                            <text> - </text>@item.End.ToShortTimeString()<text> </text>@item.End.ToShortDateString()
                        }<br />
                        Pris: @item.Price
                    </p>
                    <button type="submit" class="cancel-bid" style="width:100px;">Cancel</button>
                </div>
            }
        </div>
    </div>
    @*<form action="@Url.Action("Courses","Main")">
        <div class="ui-input-btn ui-btn ui-icon-home ui-btn-icon-left ui-btn-inline ui-corner-all">
            Course
            <input type="submit" data-enhanced="true" value="Course" />
        </div>  
    </form>*@ 
       
    <a href="/Main/Courses" id="toCourses">Courses</a>
    <div data-role="footer" data-position="fixed">
        <div data-role="navbar">
            <ul>
                <li><a href="@Url.Action("Courses","Main")" class="ui-btn ui-icon-home ui-btn-icon-left ui-state-persist ui-btn-active" >Courses</a></li>
                <li><a href="@Url.Action("Profile","Main")" class="ui-btn ui-icon-user ui-btn-icon-left">Profile</a></li>
                <li><a href="@Url.Action("Contact","Main")" class="ui-btn ui-icon-info ui-btn-icon-left">Contact</a></li>
            </ul>
        </div>
    </div>
</section>
