@model IEnumerable<FocusAppTest2.ViewModels.CourseVM>
@{
    ViewBag.Title = "MyCourses";
}
<section data-role="page">
    <div data-role="header" data-position="fixed">
    </div>
    <div class="ui-content">
        <a href="@Url.Action("Course", "Main")" class="ui-btn ui-corner-all ui-icon-carat-l ui-btn-icon-notext col-xs-2 "></a>
        <div id="container" class="col-xs-10"> 
            @foreach (var item in Model)
            {
                <div data-role="collapsible">
                    <h1>@item.Info</h1>
                    <p>@item.Location, @item.Price kr - Dato: @item.Start</p>
                    @Html.BeginForm("Join", "Main")){
                    }
                    <button style="width:100px;" id="@item.Id">Cancel</button>
                </div>
            }
        </div>
       
    </div>
    <div data-role="footer" data-position="fixed">
        <div data-role="navbar">
            <ul>
                <li><a href="@Url.Action("Course","Main")" class="ui-state-persist ui-btn-active">Course</a></li>
                <li><a href="@Url.Action("Profile","Main")">Profile</a></li>
                <li><a href="@Url.Action("Contact","Main")">Contact</a></li>
            </ul>
        </div>
    </div>
</section>

