@model IEnumerable<FocusAppTest2.ViewModels.CourseVM>
@{
    ViewBag.Title = "My Courses";
}

<div class="mycourses ui-content">
    <div id="container" class="col-xs-8">
        @foreach (var item in Model)
        {
            <div data-role="collapsible" class="collapsible-myCourses" data-theme="b" data-iconpos="right" data-collapsed-icon="check" data-expanded-icon="arrow-d" data-id="@item.Id">
                <h1>@item.Name - @item.Location - @item.Start.ToShortDateString()</h1>
                <p>
                    @item.Info<br />
                    Sted: @item.Location <br />
                    Tid: @item.Start.ToShortTimeString()
                    @if (item.End != null)
                    {
                        <text> - </text>@item.End.ToShortTimeString()<text> </text>@item.End.ToShortDateString()
                    }<br />
                    Pris: @item.Price
                </p>
                <button type="submit" class="cancel-bid" style="width:100px;">Cancel</button>
            </div>
        }
    </div>
    <form action="@Url.Action("Courses","Main")">
        <div class="ui-input-btn ui-btn ui-icon-home ui-btn-icon-left ui-btn-inline ui-corner-all">
            Courses
            <input class="col-xs-3" type="submit" data-enhanced="true" value="Course" />
        </div>
    </form>
</div>

