@model FocusAppTest2.ServiceReference1.Profile
@{
    ViewBag.Title = "Profile";
}

<div class="ui-content">
    <div id="container">
        <div class="profileInformation">
            <div class="row userProfileSlide fadeElement">
                <span class="glyphicon mainProfile glyphicon-user"></span>
                <div class="boldText">
                    <span id="boldFName">@Model.firstname</span>
                    <span id="boldLName">@Model.lastname</span>
                </div>
            </div>
            <div class="row homeProfileSlide fadeElement" style="display:none;">
                <span class="glyphicon mainProfile glyphicon-home">
                </span>
                <div class="boldText boldAddress">
                    <span id="boldAddress">@Model.address ,</span>
                    <span id="boldZip">@Model.zip</span>
                    <span id="boldCity">@Model.city</span>
                </div>
            </div>
            <div class="row phoneProfileSlide fadeElement" style="display:none;">
                <span class="glyphicon mainProfile glyphicon-phone">
                </span>
                <div class="boldText boldPhone">
                    <span id="boldPhone">@Model.phone</span>
                </div>
            </div>
            <div class="row birthdateProfileSlide fadeElement" style="display:none;">
                <span class="glyphicon mainProfile glyphicon-calendar">
                </span>
                <div class="boldText">
                    <span id="boldBirthdate">@ViewBag.Data1</span>
                </div>
            </div>
        </div>
        <form class="form-inline" role="form">
            <fieldset class="ui-field-contain theFieldsset">
                <div class="userInfo slideElement" style="display:none;">
                    <div class="form-group row col-sm-offset-3" data-id="@Model.memberId">
                        <div class="col-xs-12 col-sm-12">
                            <input class="profileInput" type="text" placeholder="Firstname" id="firstname" />
                        </div>
                        <a href="#" class="confirm ui-btn-icon-notext ui-icon-recycle"></a>
                    </div>

                    <div class="form-group row col-sm-offset-3" data-id="@Model.memberId">
                        <div class="col-xs-12 col-sm-12">
                            <input class="profileInput" type="text" placeholder="Lastname" id="lastname" />
                        </div>
                        <a href="#" class="confirm ui-btn-icon-notext ui-icon-recycle"></a>
                    </div>
                </div>
                <div class="homeInfo slideElement" style="display:none;">
                    <div class="form-group row col-sm-offset-3" data-id="@Model.memberId">
                        <div class="col-xs-12 col-sm-12">
                            <input class="profileInput" type="text" placeholder="Address" id="address" />
                        </div>
                        <a href="#" class="confirm ui-btn-icon-notext ui-icon-recycle"></a>
                    </div>
                    <div class="form-group row col-sm-offset-3" data-id="@Model.memberId">
                        <div class="col-xs-12 col-sm-12">
                            <input class="profileInput" type="number" placeholder="Zip" id="zip" />
                        </div>
                        <a href="#" class="confirm ui-btn-icon-notext ui-icon-recycle"></a>
                    </div>
                    <div class="form-group row col-sm-offset-3" data-id="@Model.memberId">
                        <div class="col-xs-12 col-sm-12">
                            <input class="profileInput" type="text" placeholder="City" id="city" />
                        </div>
                        <a href="#" class="confirm ui-btn-icon-notext ui-icon-recycle"></a>
                    </div>
                </div>
                <div class="calendarInfo slideElement" style="display:none;">
                    <div class="form-group row col-sm-offset-3" data-id="@Model.memberId">
                        <div class="col-xs-12 col-sm-12">
                            <input class="profileInput" type="date" placeholder="Birthdate" id="birthdate" />
                        </div>
                        <a href="#" class="confirm ui-btn-icon-notext ui-icon-recycle"></a>
                    </div>
                </div>
                <div class="phoneInfo slideElement" style="display:none;">
                    <div class="form-group row col-sm-offset-3" data-id="@Model.memberId">
                        <div class="col-xs-12 col-sm-12">
                            <input class="profileInput" type="number" placeholder="Phone" id="phone" />
                        </div>
                        <a href="#" class="confirm ui-btn-icon-notext ui-icon-recycle"></a>
                    </div>
                </div>
            </fieldset>
        </form>

    </div>
    <a href="#" class="arrowButton"><span class="glyphicon editIcon glyphicon-arrow-down"></span></a>
</div>
@section scripts{
    <script>
        $(function () {
            $('#user').addClass('ui-btn-active');

            $('body').on("click", '.arrowButton', function () {
                if ($('.slideElement').is(":visible")) {
                    $('.slideElement').slideUp();
                    $('.editIcon').removeClass('glyphicon-arrow-up');
                    $('.editIcon').addClass('glyphicon-arrow-down');
                } else {
                    if ($('.userProfileSlide').is(":visible")) {
                        $('.userInfo').slideDown();
                        arrowUP();
                    }
                    if ($('.homeProfileSlide').is(":visible")) {
                        $('.homeInfo').slideDown();
                        arrowUP();
                    }
                    if ($('.phoneProfileSlide').is(":visible")) {
                        $('.phoneInfo').slideDown();
                        arrowUP();
                    }
                    if ($('.birthdateProfileSlide').is(":visible")) {
                        $('.calendarInfo').slideDown();
                        arrowUP();
                    }
                }
            })
            $('body').on("click", '.changeInput', function () {
                var buttonId = $(this).attr("id");
                $('.changeInput').removeClass('ui-btn-active');
                $(this).addClass()
                switch (buttonId) {
                    case "user":
                        changeProfileView();
                        $('.userProfileSlide').slideDown();
                        arrowDOWN();
                        break;
                    case "home":
                        changeProfileView();
                        $('.homeProfileSlide').slideDown();
                        arrowDOWN();
                        break;
                    case "calendar":
                        changeProfileView();
                        $('.birthdateProfileSlide').slideDown();
                        arrowDOWN();
                        break;
                    case "phone":
                        changeProfileView();
                        $('.phoneProfileSlide').slideDown();
                        arrowDOWN();
                        break;
                    default:
                        break;
                }
            })
            $('body').on("click", '.edit', function () {
                var editButton = $(this);
                editButton.addClass('hidden');
                var wrapper = editButton.parents('.form-group');
                wrapper.find('.confirm').removeClass('hidden');
                var input = wrapper.find('div');
                input.removeClass('ui-disabled');
                input.focus();
            })
        .on("focus", '.profileInput', function () {
            var input = $(this);
            var wrapper = input.parents('.form-group');
            wrapper.find('.confirm').removeClass('ui-icon-check').addClass('ui-icon-recycle active');
        })
        .on("blur", '.profileInput', function () {
            var input = $(this);
            var wrapper = input.parents('.form-group');
            wrapper.find('.confirm').removeClass('active');
        })


        .on("click", '.confirm', function () {
            var confirmButton = $(this);
            var wrapper = confirmButton.parents('.form-group');
            var input = wrapper.find('input');

            switch (input.attr("id")) {
                case "firstname":
                    var inputValue = $("#firstname").val();
                    ajaxRequest("/Main/UpdateFName", { memberId: wrapper.data("id"), firstname: inputValue }, "#firstname", "#boldFName");
                    break;
                case "lastname":
                    inputValue = $("#lastname").val();
                    ajaxRequest("/Main/UpdateLName", { memberId: wrapper.data("id"), lastname: inputValue }, "#lastname", "#boldLName");
                    break;
                case "address":
                    inputValue = $("#address").val();
                    ajaxRequest("/Main/UpdateAddress", { memberId: wrapper.data("id"), address: inputValue }, "#address", "#boldAddress");
                    break;
                case "zip":
                    inputValue = $("#zip").val();
                    ajaxRequest("/Main/UpdateZip", { memberId: wrapper.data("id"), zip: inputValue }, "#zip", "#boldZip");
                    break;
                case "city":
                    inputValue = $("#city").val();
                    ajaxRequest("/Main/UpdateCity", { memberId: wrapper.data("id"), city: inputValue }, "#city", "#boldCity");
                    break;
                case "phone":
                    inputValue = $("#phone").val();
                    ajaxRequest("/Main/UpdatePhone", { memberId: wrapper.data("id"), phone: inputValue }, "#phone", "#boldPhone");
                    break;
                case "birthdate":
                    inputValue = ($("#birthdate").val() == '') ? "2015-04-24" : $("#birthdate").val();
                    ajaxRequest("/Main/UpdateBirthdate", { memberId: wrapper.data("id"), birthdate: inputValue }, "#birthdate", "#boldBirthdate");
                    break;
                default:
                    break;
            }
            return false;
        })
            function ajaxRequest(url, theObject, inputId, boldId) {
                var inputID = inputId;
                $.ajax({
                    type: "POST",
                    url: url,
                    data: theObject
                })
                .success(function (data) {
                    if (typeof data !== "object")
                        data = JSON.parse(data);
                    if (data.state) {
                        $(boldId).text($(inputId).val());
                        var theInput = $(inputID);
                        var wrapper = theInput.parents('.form-group');
                        wrapper.find('.confirm').removeClass('ui-icon-recycle');
                        wrapper.find('.confirm').addClass('ui-icon-check');
                        setTimeout(function () {
                            wrapper.find('.confirm').removeClass('ui-icon-check').addClass('ui-icon-recycle');
                        }, 1500);
                    }
                })
                .error(function (data) {
                    alert("Error!");
                })
            }
            function arrowUP() {
                $('.editIcon').removeClass('glyphicon-arrow-down');
                $('.editIcon').addClass('glyphicon-arrow-up');
            }
            function arrowDOWN() {
                $('.editIcon').removeClass('glyphicon-arrow-up');
                $('.editIcon').addClass('glyphicon-arrow-down');
            }
            function changeProfileView() {
                $('.slideElement').slideUp();
                $('.fadeElement').slideUp();
            }
        });
    </script>
}
