@model FocusAppTest2.ServiceReference1.Profile
@{
    ViewBag.Title = "Profile";
}

<div class="ui-content profilePage">
    <div id="container">
        <div>
            <div class="row userProfileSlide fadeElement">
                <span class="glyphicon mainProfile glyphicon-user"></span>
                <div class="boldText">
                    <span id="boldFName">@Model.firstname</span>
                    <span id="boldLName">@Model.lastname</span>
                </div>
            </div>
            <div class="row homeProfileSlide fadeElement" style="display:none;">
                <span class="glyphicon mainProfile glyphicon-envelope">
                </span>
                <div class="boldText">
                    <span id="boldAddress">@Model.address</span>
                    <span id="boldZip">@Model.zip</span>
                    <span id="boldCity">@Model.city</span>
                </div>
            </div>
            <div class="row phoneProfileSlide fadeElement" style="display:none;">
                <span class="glyphicon mainProfile glyphicon-phone">
                </span>
                <div class="boldText">
                    <span id="boldPhone">@Model.phone</span>
                </div>
            </div>
            <div class="row birthdateProfileSlide fadeElement" style="display:none;">
                <span class="glyphicon mainProfile glyphicon-gift">
                </span>
                <div class="boldText">
                    <span id="boldBirthdate">@ViewBag.Data1</span>
                </div>
            </div>
        </div>
        <form role="form">
            <fieldset class="ui-field-contain theFieldsset">
                <div class="userInfo slideElement">
                    <div class="form-group row" data-id="@Model.memberId">
                        <div class="col-xs-12 col-sm-12">
                            <label for="firstname" class="ui-hidden-accessible">Fistname:</label>
                            <input class="profileInput" name="firstname" type="text" placeholder="Firstname" id="firstname" value="@Model.firstname" />
                        </div>
                        <a href="#" class="confirm ui-btn-icon-notext ui-icon-recycle"></a>
                    </div>
                    <div class="form-group row" data-id="@Model.memberId">
                        <div class="col-xs-12 col-sm-12">
                            <label for="lastname" class="ui-hidden-accessible">Fistname:</label>
                            <input class="profileInput" name="lastname" type="text" placeholder="Lastname" id="lastname" value="@Model.lastname" />
                        </div>
                        <a href="#" class="confirm ui-btn-icon-notext ui-icon-recycle"></a>
                    </div>
                </div>
                <div class="homeInfo slideElement" style="display:none;">
                    <div class="form-group row" data-id="@Model.memberId">
                        <div class="col-xs-12 col-sm-12">
                            <label for="address" class="ui-hidden-accessible">Fistname:</label>
                            <input class="profileInput" name="address" type="text" placeholder="Address" id="address" value="@Model.address" />
                        </div>
                        <a href="#" class="confirm ui-btn-icon-notext ui-icon-recycle"></a>
                    </div>
                    <div class="form-group row" data-id="@Model.memberId">
                        <div class="col-xs-12 col-sm-12">
                            <label for="zip" class="ui-hidden-accessible">Fistname:</label>
                            <input class="profileInput" name="zip" type="number" placeholder="Zip" id="zip" value="@Model.zip" />
                        </div>
                        <a href="#" class="confirm ui-btn-icon-notext ui-icon-recycle"></a>
                    </div>
                    <div class="form-group row" data-id="@Model.memberId">
                        <div class="col-xs-12 col-sm-12">
                            <label for="city" class="ui-hidden-accessible">Fistname:</label>
                            <input class="profileInput" name="city" type="text" placeholder="City" id="city" value="@Model.city" />
                        </div>
                        <a href="#" class="confirm ui-btn-icon-notext ui-icon-recycle"></a>
                    </div>
                </div>
                <div class="calendarInfo slideElement" style="display:none;">
                    <div class="form-group row" data-id="@Model.memberId">
                        <div class="col-xs-12 col-sm-12">
                            <label for="birthdate" class="ui-hidden-accessible">Fistname:</label>
                            <input class="profileInput" name="birthdate" type="date" placeholder="Birthdate" id="birthdate" value="@ViewBag.Data1" />
                        </div>
                        <a href="#" class="confirm ui-btn-icon-notext ui-icon-recycle"></a>
                    </div>
                </div>
                <div class="phoneInfo slideElement" style="display:none;">
                    <div class="form-group row" data-id="@Model.memberId">
                        <div class="col-xs-12 col-sm-12">
                            <label for="phone" class="ui-hidden-accessible">Fistname:</label>
                            <input class="profileInput" name="phone" type="number" placeholder="Phone" id="phone" value="@Model.phone" />
                        </div>
                        <a href="#" class="confirm ui-btn-icon-notext ui-icon-recycle"></a>
                    </div>
                </div>
            </fieldset>
        </form>

    </div>
</div>
@section scripts{
    <script>
        $(function () {
            $('#user').addClass('ui-btn-active');

            $('body').on("swipeleft", '.thePage', function () {
                $('.changeInput').removeClass('ui-btn-active');
                if ($('.userProfileSlide').is(":visible")) {
                    showHomeProfile();
                    $('#home').addClass('ui-btn-active');
                }
                else if ($('.homeProfileSlide').is(":visible")) {
                    showBirthdayProfile();
                    $('#calendar').addClass('ui-btn-active');
                }
                else if ($('.birthdateProfileSlide').is(":visible")) {
                    showPhoneProfile();
                    $('#phoneButton').addClass('ui-btn-active');
                }
                else if ($('.phoneProfileSlide').is(":visible")) {
                    showUserProfile();
                    $('#user').addClass('ui-btn-active');
                }
            })
            .on("swiperight", '.thePage', function () {
                $('.changeInput').removeClass('ui-btn-active');
                if ($('.userProfileSlide').is(":visible")) {
                    showPhoneProfile();
                    $('#phoneButton').addClass('ui-btn-active');
                }
                else if ($('.homeProfileSlide').is(":visible")) {
                    showUserProfile();
                    $('#user').addClass('ui-btn-active');
                }
                else if ($('.birthdateProfileSlide').is(":visible")) {
                    showHomeProfile();
                    $('#home').addClass('ui-btn-active');
                }
                else if ($('.phoneProfileSlide').is(":visible")) {
                    showBirthdayProfile();
                    $('#calendar').addClass('ui-btn-active');
                }
            })
            $('body').on("click", '.changeInput', function () {
                var buttonId = $(this).attr("id");
                $('.changeInput').removeClass('ui-btn-active');
                switch (buttonId) {
                    case "user":
                        showUserProfile();
                        $('#user').addClass('ui-btn-active');
                        break;
                    case "home":
                        showHomeProfile();
                        $('#home').addClass('ui-btn-active');
                        break;
                    case "calendar":
                        showBirthdayProfile();
                        $('#calendar').addClass('ui-btn-active');
                        break;
                    case "phoneButton":
                        showPhoneProfile();
                        $('#phoneButton').addClass('ui-btn-active');
                        break;
                    default:
                        break;
                }
            })
        .on("focus", '.profileInput', function () {
            var input = $(this);
            var wrapper = input.parents('.form-group');
            wrapper.find('.confirm').removeClass('ui-icon-check').addClass('ui-icon-recycle active');
        })
        .on("blur", '.profileInput', function () {
            var input = $(this);
            var wrapper = input.parents('.form-group');
            wrapper.find('.confirm').removeClass('active');
            switch (input.attr("id")) {
                case "firstname":
                    var inputValue = $("#firstname").val();
                    ajaxRequest("/Main/UpdateFName", { memberId: wrapper.data("id"), firstname: inputValue }, "#firstname", "#boldFName");
                    break;       
                case "lastname":
                    inputValue = $("#lastname").val();
                    ajaxRequest("/Main/UpdateLName", { memberId: wrapper.data("id"), lastname: inputValue }, "#lastname", "#boldLName");
                    break;
                case "address":
                    inputValue = $("#address").val();
                    ajaxRequest("/Main/UpdateAddress", { memberId: wrapper.data("id"), address: inputValue }, "#address", "#boldAddress");
                    break;
                case "zip":
                    inputValue = $("#zip").val();
                    ajaxRequest("/Main/UpdateZip", { memberId: wrapper.data("id"), zip: inputValue }, "#zip", "#boldZip");
                    break;
                case "city":
                    inputValue = $("#city").val();
                    ajaxRequest("/Main/UpdateCity", { memberId: wrapper.data("id"), city: inputValue }, "#city", "#boldCity");
                    break;
                case "phone":
                    inputValue = $("#phone").val();
                    ajaxRequest("/Main/UpdatePhone", { memberId: wrapper.data("id"), phone: inputValue }, "#phone", "#boldPhone");
                    break;
                case "birthdate":
                    inputValue = ($("#birthdate").val() == '') ? "2015-04-24" : $("#birthdate").val();
                    ajaxRequest("/Main/UpdateBirthdate", { memberId: wrapper.data("id"), birthdate: inputValue }, "#birthdate", "#boldBirthdate");
                    break;
                default:
                    break;
            }
            return false;
        })
            function ajaxRequest(url, theObject, inputId, boldId) {
                var inputID = inputId;
                $.ajax({
                    type: "POST",
                    url: url,
                    data: theObject
                })
                .success(function (data) {
                    if (typeof data !== "object")
                        data = JSON.parse(data);
                    if (data.state) {
                        $(boldId).text($(inputId).val());
                        var theInput = $(inputID);
                        var wrapper = theInput.parents('.form-group');
                        wrapper.find('.confirm').removeClass('ui-icon-recycle');
                        wrapper.find('.confirm').addClass('ui-icon-check');
                        setTimeout(function () {
                            wrapper.find('.confirm').removeClass('ui-icon-check').addClass('ui-icon-recycle');
                        }, 3000);
                    }
                })
                .error(function (data) {
                    alert("Error!");
                })
            }
            function arrowUP() {
                $('.editIcon').removeClass('glyphicon-arrow-down');
                $('.editIcon').addClass('glyphicon-arrow-up');
            }
            function arrowDOWN() {
                $('.editIcon').removeClass('glyphicon-arrow-up');
                $('.editIcon').addClass('glyphicon-arrow-down');
            }
            function changeProfileView() {
                $('.slideElement').slideUp();
                $('.fadeElement').slideUp();
            }
            function showHomeProfile() {
                changeProfileView();
                $('.homeProfileSlide').slideDown();
                $('.homeInfo').slideDown();
            }
            function showBirthdayProfile() {
                changeProfileView();
                $('.birthdateProfileSlide').slideDown();
                $('.calendarInfo').slideDown();
            }
            function showPhoneProfile() {
                changeProfileView();
                $('.phoneProfileSlide').slideDown();
                $('.phoneInfo').slideDown();
            }
            function showUserProfile() {
                changeProfileView();
                $('.userProfileSlide').slideDown();
                $('.userInfo').slideDown();
            }
        });
    </script>
}
